.flex-modal-container{
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aaa;
    font-family: "Roboto", sans-serif;
}

.flex-modal-card{
    display: flex;
    justify-content: space-between;
    width: 600px;
    gap: 24px;
    padding: 24px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
}

.flex-modal-notice-icon{
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: rgb(233, 236, 255);
    color: rgb(51, 129, 254);
    font-size: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.flex-modal-column{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.flex-modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2{
    margin: 0;
}

.flex-modal-close-button{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    font-weight: 900;
}

.flex-modal-text{
    /* font-family: 'Arial Narrow', Arial, sans-serif; */
    font-size: 20px;
    /* font-weight: 100; */
}

.flex-modal-bottom-buttons{
    display: flex;
    gap: 8px;
}

.flex-modal-continue{
    background-color: rgb(64, 64, 243);
    color: white;
    border-radius: 6px;
    padding: 8px 16px;
    border: none;
}

.flex-modal-cancel{
    border: 2px solid #eee;
    color: rgb(64, 64, 243);
    padding: 8px 16px;
    border-radius: 6px;
    background-color: white;
}